.calcinput-display {
  color: white;
  background-color: grey;
  border: none;
  padding: 12px 0;
  width: 95%;
  height: 23px;
  direction: rtl;
  padding-right: 5%;
}

.calcinput-display::placeholder {
  color: white;
  padding: 13px;
}
